/*
Purple: #AD5ACE
Peach: #FF7166
Blue: #2B52E0
Grey: #111F1A
*/

body, html {
    background-color: #13141a;
    padding: 0px, 0px;
    margin: 0px, 0px;
}

p {
    text-indent: 50px;
    line-height: 1.8;
}

div.enclosure {
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Trebuchet MS", sans-serif;
}

.purple{
    color: #ad5ace;
}

.peach {
    color: #FF7166;
}

.blue{
    color: #2b52e0;
}