body, html {
    background-color: #111F1A;
    padding: 0px, 0px;
    margin: 0px, 0px;
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
    color: #9B4FB9;
}

/*
h1:hover {
    color: white;
}

h1:active {
    color: red;
}
*/